<div class="row">
	<div class="col-md-9 panel">
		<h3>{{data.acc_name}} - {{data.obj_name}}</h3>
		<hr/>
		<div class="row" style="margin-bottom:75px">
			<div class="col-md-10">
				<p>{{data.obj_desc}} <br/><br/> {{data.acc_desc}}</p>
			</div>
			<div class="col-md-2">
				<h4>Rating:<br/>{{data.rating}}</h4>
			</div>
		</div>
		<h4>Gallery</h4><hr/>
		<div class="row" ng-repeat="subimages in data.images">
			<div class="col-md-2" ng-repeat="image in subimages">
				<a class="galerija img-thumbnail" rel="grupa" href="{{PATH_SMALL+image}}"><img src="{{PATH+image}}" alt="" width="100%"/></a>
			</div>
		</div>
		<div style="margin-bottom:75px"></div>
		<h4>About</h4><hr/>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered" style="text-align: center; table-layout: fixed">
					<tr>
						<td class="bg-info">
							Accommodation type - People Min/Max
						</td>
						<td class="bg-info">
							{{data.acc_type}} - {{data.ppl_num_min}}/{{data.ppl_num_max}}
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Category
						</td>
						<td class="bg-info">
							{{data.category}}*
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Beach distance (meters)
						</td>
						<td class="bg-info">
							{{data.beach_distance}}
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Surface (square meters)
						</td>
						<td class="bg-info">
							{{data.surface}}
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Sea view
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.has_sea_view==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.has_sea_view==0"></span>
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Air condition
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.has_air_condition==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.has_air_condition==0"></span>
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							SAT/TV
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.has_sattv==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.has_sattv==0"></span>
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Balcony
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.has_balcony==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.has_balcony==0"></span>
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Breakfast
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.has_breakfast==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.has_breakfast==0"></span>
						</td>
					</tr>
					<tr>
						<td class="bg-info">
							Accepts pets
						</td>
						<td class="bg-info">
							<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="data.accepts_pets==1"></span>
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="data.accepts_pets==0"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="margin-bottom:45px"></div>
		<h4>Map</h4><hr/>
		<div class="row">
			<div class="col-md-12">
				<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d88956.26636463721!2d15.947680396435548!3d45.83361811369606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2shr!4v1431114780165" width="100%" height="450" frameborder="0" style="border:0"></iframe>-->
				<div id="map-canvas" style="width: 100%; height: 400px;"></div>
			</div>
		</div>
		<div style="margin-bottom:45px"></div>
		<h4>Prices</h4><hr/>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered" style="text-align: center; table-layout: fixed">
					<thead class="bg-primary">
						<tr>
							<td>
								Date from
							</td>
							<td>
								Date until
							</td>
							<td>
								Price (€)
							</td>
						</tr>
					</thead>
					<tbody class="bg-info">
						<tr ng-repeat="price in data.prices">
							<td>{{price.date_from}}</td>
							<td>{{price.date_until}}</td>
							<td>{{price.price}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="margin-bottom:75px"></div>
		<h4>Availability</h4><hr/>
		<div class="row" style="margin-top:20px" ng-repeat="months in calendar track by $index">
			<div class="col-md-4" ng-repeat="month in months track by $index" style="text-align: center">
				<p>{{monthNames[(currentMonth+$parent.$index*3+$index)%12]}}</p>
				<table class="table table-bordered" style="table-layout: fixed;">
					<thead>
						<tr>
							<td>
								Mo
							</td>
							<td>
								Tu
							</td>
							<td>
								We
							</td>
							<td>
								Th
							</td>
							<td>
								Fr
							</td>
							<td>
								Sa
							</td>
							<td>
								Su
							</td>
						</tr>
					</thead>
					<tr ng-repeat="week in month">
						<td class="{{day.class}}" height="30px" ng-repeat="day in week" style="padding: 0"> <!--http://localhost:4567/photos/empty.png -->
							<img ng-src="http://localhost:4567/photos/calendar.png" width="50%" height="100%" style="float:left" ng-show="day.left!=null"/>
							<img ng-src="http://localhost:4567/photos/calendar.png" width="50%" height="100%" style="float:right" ng-show="day.right!=null"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="margin-bottom:75px"></div>
		<h4>Comments</h4><hr/>
		<div class="row">
			<div class="col-md-12">
				<div id="comment">
					<textarea style="width: 100%; max-width: 100%" maxlength="1000" placeholder="{{comment_placeholder}}" ng-model="comment.text" ng-disabled="!can_comment"></textarea>
					<p style="font-size: 19px">Rating: <span class="glyphicon {{stars[0]}}" aria-hidden="true" ng-mouseover="rate(0)"></span><span class="glyphicon {{stars[1]}}" aria-hidden="true" ng-mouseover="rate(1)"></span><span class="glyphicon {{stars[2]}}" aria-hidden="true" ng-mouseover="rate(2)"></span><span class="glyphicon {{stars[3]}}" aria-hidden="true" ng-mouseover="rate(3)"></span><span class="glyphicon {{stars[4]}}" aria-hidden="true" ng-mouseover="rate(4)"></span></p>
					<button class="btn btn-primary" ng-disabled="!can_comment" ng-click="post()">Post comment</button>
				</div>
				<table class="table table-hover" style="margin-top: 20px">
					<tbody>
						<tr ng-repeat="comment in data.comments">
							<td>
								<span style="font-weight: bold">Name: {{comment.name}}</span><span style="float: right">{{comment.time}}</span><br/>
								<p>Rating: <span class="glyphicon glyphicon-star" aria-hidden="true" ng-repeat="a in forLoop(comment.rating)"></span></p>
								<p>{{comment.text}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3" style="padding-left: 10px">
		<div class="panel" style="padding: 10px">
			<h4>Location</h4><hr/>
			<p>Address: {{data.addr}}<br/>City: {{data.city}}<br/>Country: {{data.country}}<br/><br/></p>
			<h4>Contact</h4><hr/>
			<p>Name: {{data.owner_name}}<br/>Phone: {{data.owner_phone}}<br/>E-mail: {{data.owner_email}}<br/><br/></p>
			<h4>Make reservation:</h4><hr/>
			<div class="alert alert-warning fade in" ng-show="!can_res">
    			<p>Only registered guests can make reservations.</p>
			</div>
			<form role="form">
				<div class="form-group">
    				<label for="date_from">From:</label>
    				<input id="date_from" type="date" class="form-control" ng-disabled="!can_res" ng-model="res_data.date_from">
    				<label for="date_until">Until:</label>
    				<input id="date_until" type="date" class="form-control" ng-disabled="!can_res" ng-model="res_data.date_until">
  				</div>
  				<div class="form-group">
    				<label for="ppl_adults">Number of adults:</label>
    				<input id="ppl_adults" type="number" min="0" class="form-control" ng-disabled="!can_res" ng-model="res_data.ppl_adults">
  				</div>
  				<div class="form-group">
    				<label for="ppl_children">Number of children:</label>
    				<input id="ppl_children" type="number" min="0" class="form-control" ng-disabled="!can_res" ng-model="res_data.ppl_children">
  				</div>
  				<button class="btn btn-primary" ng-click="saveReservation()" ng-disabled="!can_res">Make reservation</button>
			</form>
			<br/>
			<div class="alert alert-{{res_save.class}} fade in" ng-show="res_save.show">
    			<p>{{res_save.message}}</p>
			</div>
			<br/>
			<p>Warning: All reservations are temporary (24 h from the moment of placing reservation) until confirmed by the owner.
				Please contact the owner with mail or phone about the permanent agreement.</p>
		</div>
	</div>
</div>
<script>
	$("a.galerija").fancybox();
	$("#date_from").datepicker({
      changeMonth: true,
      changeYear: true,
      minDate: new Date(),
      firstDay: 1,
      dateFormat: "yy-mm-dd"
    });
    $("#date_until").datepicker({
      changeMonth: true,
      changeYear: true,
      minDate: new Date(),
      firstDay: 1,
      dateFormat: "yy-mm-dd"
    });
</script>