body {
	background: url( http://localhost:4567/photos/more.jpg ) no-repeat top center fixed;
  }
.navbar-custom {
  background-color: #242682;
  border-color: #587aff;
}
.navbar-custom .navbar-brand {
  color: #ecf0f1;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #a4c3ff;
}
.navbar-custom .navbar-text {
  color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #a4c3ff;
  background-color: #587aff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #a4c3ff;
  background-color: #587aff;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #a4c3ff;
  background-color: #587aff;
}
.navbar-custom .navbar-toggle {
  border-color: #587aff;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #587aff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #587aff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #587aff;
}
.navbar-custom .navbar-link {
  color: #ecf0f1;
}
.navbar-custom .navbar-link:hover {
  color: #587aff;
}

.pointer {
    cursor: pointer;
}